extends layout

block content
  h1= title
  - let items = results
  div(class="container-fluid") 
   div(class="row m-1")
    each tree,index in items
      - let destination = `dispatch(\"/trees/update?id=${tree._id}\")`
      div(class="row-sm-2", class="m-1" ) tree_species: #{tree.tree_species}, tree_age: #{tree.tree_age}, tree_height: #{tree.tree_height} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update
  script.
    function dispatch(path){
      window.location.href=path
    }
  

