extends layout
block content
  h1= title
    - let treeid = toShow._id
    - let tree_species = toShow.tree_species
    - let tree_age = toShow.tree_age
    - let tree_height = toShow.tree_height
  div
  div.row
  div(class='treeAttr mr-3') Tree ID is:
    div #{treeid}
  div.row
  div(class='treeAttr mr-3') Tree Species is:
    div #{tree_species}
  div.row
  div(class='treeAttr mr-3') Tree Age is:
    div #{tree_age}
  div.row
  div(class='treeAttr mr-3') Tree Height is:
    div #{tree_height}